body {
  font-family: Arial, sans-serif;
  background-color: #e2dad9;
}

footer {
  background-color: #782646;
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: 90vh;
  width: 98vw;
  padding: 2vw;
  font-size: 2vw;
 
}


/* Navbar */

.navbar1 {
  overflow: hidden;
  background-color: #782646;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
  overflow: hidden;
  background-color: #782646;
  border-radius: 5px;
  
}

.navbar1 img {
  width: 3.17vw;
  height: 3vw;
  position: relative;
  top: 0.8vh;
  margin-right: 0.52vw;
  
}

.navbar1 h1 {
  text-indent: 0.8vw;
  font-size: 1.9vw;
   color: white;
   text-align: left;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2vw;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #864d5c;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar a {
    font-size: 1.8vw; 
}

  .navbar1 h1 {
    font-size: 2.6vw;
}

  .navbar1 img {
    width: 4.7vw;
    height: 4.5vw; 
}
}

@media screen and (max-width: 960px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Main */

.mainContainer {
  text-align: center;
  max-width: 800px; /* Set the maximum width of the video container */
  margin: 0 auto; /* Center the container horizontally */
}

.mainContainer iframe {
  width: 100%;
  height: 500px;
}

.telegram-text {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telegram-logo {
  width: 50px; 
  height: auto;
  margin-right: 10px; 
}

/* Profile */

.profileContainer {
  position: relative;
  top: 15px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileContainer h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profileContainer p {
  margin-top: 0;
  margin-bottom: 20px;
}

.profileContainer table {
  width: 100%;
  border-collapse: collapse;
}

.profileContainer th, td {
  padding: 8px;
  text-align: left;
}

.profileContainer th {
  font-weight: bold;
}

.profileContainer td#email {
  font-style: italic;
}

.profileContainer button {
  padding: 8px 16px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px;
}

.profileContainer button:hover {
  background-color: #864d5c;
}

/* Registration */

.registerLogo {
  width: 40vw;
  height: 10vw;
  top: 4%;
  display: block;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.registrationPage {
  position: relative;
  top: 26vh;
  max-width: 24vw;
  margin: 0 auto;
  padding: 1.3vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.registrationPage h1 {
  font-size: 1.7vw;
  text-align: center;
  font-family: arial, sans-serif;
}

.registrationPage label {
  font-size: 1.2vw; 
  font-weight: 450; 
  position: relative;
  bottom: 0.05vw;  
  margin-bottom: 0.5vw;  
  font-family: arial, sans-serif;       
}

.registrationPage button {
  font-size: 0.8vw; 
  padding: 0.6vw 1vw;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px 
}

.registrationPage button:hover {
  background-color: #ddd;
  color: black;
}

.registrationPage button.active {
  background-color: #864d5c;
  color: white;
}

.registrationPage a {
  font-size: 0.8vw; 
  font-weight: 400;
  color: #525252;
}

.registrationPage input {
  width: 100%;
  padding: 0.3vh 0vw;
  border-radius: 5px;
  background: #f0f0f0;
  border: 0;
  margin-bottom: 2vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .registrationPage {
    top: 24vh
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .registrationPage {
    top: 24vh;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .registrationPage {
    top: 26vh
  }
}

/* Login */

.loginLogo {
  width: 40vw;
  height: 10vw;
  display: block;
  top: 7%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.loginContainer {
  position: relative;
  max-width: 22vw;
  margin: 0 auto;
  top: 30vh;
  padding: 2vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.loginContainer h1 {
  font-family: Arial, sans-serif;
  font-size: 1.3vw;
  text-align: center;
}

.loginContainer label {
  font-size: 1.2vw; 
  font-weight: 450;
  position: relative;
  bottom: 3px;   
  margin-bottom: 1vw;         
}

.loginContainer input {
  width: 100%;
  padding: 0.7vw 0px;
  border-radius: 5px;
  background: #f0f0f0;
  border: 0;
  margin-bottom: 1.8vh;
}

.loginContainer button {
  font-size: 1vw; 
  padding: 0.9vw 1.1vw;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px; 
}

.loginContainer button:hover {
  background-color: #ddd;
  color: black;
}

.loginContainer button.active {
  background-color: #864d5c;
  color: white;
}

#forgotPasswordButton {
  margin-bottom: 10px; /* Adds spacing below the button */
}

#forgotPwdContainer label {
  margin-right: 5px; /* Adds spacing to the right of the label */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Index  */

.index button:hover {
  background-color: #ddd;
  color: black;
}

.index button.active {
  background-color: #864d5c;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .indexLogo {
    width: 48vw;
    height: 12vw;
    display: block;
    top: 8%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .index h1 {
    text-align: center;
    font-size: 2.8vw;
    font-family: Arial, sans-serif;
  }
  
  .index button {
    font-size: 2.3vw; 
    font-family: Arial, sans-serif;
    padding: 2.5vw 5.83vw;
    border: none;
    background-color: #782646;
    color: #f2f2f2;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-top: 25%;
  }

  #indexRegistration {
    display: inline-block;
    position: absolute;
    left: 17%;
    top: 33%;
    max-width: 26vw;
    width: 100%;
    height: 26vw;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    text-align: center;
  }
  
  #indexLogin {
    display: inline-block;
    position: absolute;
    top: 33%;
    right: 17%;
    max-width: 26vw;
    width: 100%;
    height: 26vw;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .indexLogo {
    width: 60vw;
    height: 15vw;
    display: block;
    top: 6%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .index h1 {
    text-align: center;
    font-size: 2.4vw;
    font-family: Arial, sans-serif;
  }
  
  .index button {
    font-size: 1.8vw; 
    font-family: Arial, sans-serif;
    padding: 2vw 5vw;
    border: none;
    background-color: #782646;
    color: #f2f2f2;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-top: 25%;
  
    
  }

  #indexRegistration {
    display: inline-block;
    position: absolute;
    left: 24%;
    top: 38%;
    max-width: 22vw;
    width: 100%;
    height: 22vw;
    margin: 0 auto;
    padding: 1.8px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    text-align: center;
  }
  
  #indexLogin {
    display: inline-block;
    position: absolute;
    top: 38%;
    right: 24%;
    max-width: 22vw;
    width: 100%;
    height: 22vw;
    margin: 0 auto;
    padding: 1.8px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .indexLogo {
    width: 48vw;
    height: 12vw;
    display: block;
    top: 8%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .index h1 {
    text-align: center;
    font-size: 2.3vw;
    font-family: Arial, sans-serif;
  }
  
  .index button {
    font-size: 1.4vw; 
    font-family: Arial, sans-serif;
    padding: 2vw 5vw;
    border: none;
    background-color: #782646;
    color: #f2f2f2;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-top: 25%;
  
    
  }

  #indexRegistration {
    display: inline-block;
    position: absolute;
    left: 23%;
    top: 35%;
    max-width: 18vw;
    width: 100%;
    height: 18vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    text-align: center;
  }
  
  #indexLogin {
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 23%;
    max-width: 18vw;
    width: 100%;
    height: 18vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .indexLogo {
    width: 40vw;
    height: 10vw;
    display: block;
    top: 10%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .index h1 {
    text-align: center;
    font-size: 2.2vw;
    font-family: Arial, sans-serif;
  }
  
  .index button {
    font-size: 2vw; 
    font-family: Arial, sans-serif;
    padding: 2vw 4vw;
    border: none;
    background-color: #782646;
    color: #f2f2f2;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-top: 25%;
  
    
  }

  #indexRegistration {
    display: inline-block;
    position: absolute;
    left: 18%;
    top: 34%;
    max-width: 20vw;
    width: 100%;
    height: 20vw;
    margin: 0 auto;
    padding: 1.5vw;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    text-align: center;
  }
  
  #indexLogin {
    display: inline-block;
    position: absolute;
    top: 34%;
    right: 18%;
    max-width: 20vw;
    width: 100%;
    height: 20vw;
    margin: 0 auto;
    padding: 1.5vw;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .indexLogo {
    width: 48vw;
    height: 12vw;
    display: block;
    top: 10%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .index h1 {
    text-align: center;
    font-size: 2.5vw;
    font-family: Arial, sans-serif;
  }
  
  .index button {
    font-size: 1.87vw; 
    font-family: Arial, sans-serif;
    padding: 2.4vw 4.0vw;
    border: none;
    background-color: #782646;
    color: #f2f2f2;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-top: 25%;
  
    
  }

  #indexRegistration {
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 40%;
    max-width: 20vw;
    width: 100%;
    height: 20vw;
    margin: 0 auto;
    padding: 1.5vw;
    background-color: #fff;
    border-radius: 1.56vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    text-align: center;
  }
  
  #indexLogin {
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 20%;
    max-width: 20vw;
    width: 100%;
    height: 20vw;
    margin: 0 auto;
    padding: 1.5vw;
    background-color: #fff;
    border-radius: 1.56vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    
  }
  
}

/* Change Password */

.passLogo {
  width: 44vw;
  height: 11vw;
  top: 6%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.changePassword {
  position: relative;
  top: 29vh;
  max-width: 20vw;
  margin: 0 auto;
  padding: 1.5vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.changePassword h1 {
  font-family: Arial, sans-serif;
  font-size: 1.6vw;
  text-align: center;
}

.changePassword label {
  font-size: 1.1vw; 
  font-weight: 450; 
  position: relative;
  bottom: 3px; 
  margin-bottom: 0.9vw;         
}

.changePassword input {
  width: 100%;
  padding: 1vh 0px;
  border-radius: 5px;
  background: #f0f0f0;
  border: 0;
  margin-bottom: 2vh;
}

.changePassword button {
  font-size: 1vw; 
  padding: 0.8vw 1vw;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px; 
}

.changePassword button:hover {
  background-color: #ddd;
  color: black;
}

.changePassword button.active {
  background-color: #864d5c;
  color: white;
}

/* Equipment */

.equipmentContainer {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  max-width: 100%;
  width: 65%;
  margin-bottom: 20px;
  margin: auto;
}

.equipmentContainer h1 {
  text-align: center;
  margin-bottom: 20px;
  }

.equipmentContainer h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  }

.equipmentContainer h3 {
  margin-top: 10px;
  }

.equipment-container {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #e2dad9;
  max-width: 100%;
  width: 80%;
  margin-bottom: 20px;
  margin-right: 3px;
}

.equipment-name {
  margin: 0;
  font-size: 18px;
}

.equipment-info {
  margin: 0;
  font-size: 16px;
}

.equipment-status {
  font-weight: bold;
  color: red;
}

.equipment-comment {
  margin-top: 5px;
}

/* Report */

.reportingContainer {
  position: relative;
  top: 100px;
  max-width: 100%;
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.reportingContainer label {
  font-size: 17px; 
  font-weight: 450;
  position: relative;
  bottom: 3px;   
  margin-bottom: 10px;         
}

.reportingContainer textarea {
  padding: 5px 5px;
  display: block;
  width: 95%;
  font:15px Arial, cursive;
  border-radius: 5px;
  background: #f0f0f0;
  border: 0;
  margin-bottom: 10px;
}

.reportingContainer button {
  font-size: 13px; 
  padding: 10px 15px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px; 
}

.reportingContainer input[type=submit] {
  font-size: 13px; 
  padding: 10px 15px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px; 
}

.reportingContainer input[type=file] {
  font-size: 13px; 
  padding: 5px;
  border: none;
}

/* View Report */

/* CSS styles for the header */
.report-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reportContainer {
  position: relative;
  top: 50px;
  max-width: 100%;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* View Responses */

.responseContainer {
  position: relative;
  top: 50px;
  max-width: 100%;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#responseContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

/* CSS styles for the response headers */
.response-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Booking */

.back-Button {
  background-color: #782646;
  float: left;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.back-Button:hover {
  background-color: #ddd;
  color: black;
}

.back-Button.active {
  background-color: #864d5c;
  color: white;
}

/* Booking Times */

.timeContainer {
  display: grid;
  grid-template-columns: repeat(9, minmax(200px, 1fr));
  gap: 20px;
  grid-row-gap: 30px;
  justify-items: center;
  margin: auto;

}

.timeContainer button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;

  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-right: 15px;
  margin-bottom: 10px;
}

.available {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-right: 15px;
  margin-bottom: 10px;
}


.booked {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #915967;
  opacity: 0.7;
  cursor: not-allowed;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.available:hover {
  background-color: #782646;
  color: #fff;
}

.available.active {
  background-color: #864d5c;
  color: white;
}


/* media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}