body {
  font-family: Arial, sans-serif;
  background-color: #e2dad9;
}

footer {
  background-color: #782646;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  margin-top: 45%;
}

/* Navbar */

.navbar {
  background-color: #782646;
  overflow: hidden;
}

.navbar h1 {
  text-indent: 15px;

}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.navbar a.active {
  background-color: #864d5c;
  color: white;
}

/* Profile */

.profileContainer {
  position: relative;
  top: 100px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileContainer h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profileContainer p {
  margin-top: 0;
  margin-bottom: 20px;
}

.profileContainer table {
  width: 100%;
  border-collapse: collapse;
}

.profileContainer th, td {
  padding: 8px;
  text-align: left;
}

.profileContainer th {
  font-weight: bold;
}

.profileContainer td#email {
  font-style: italic;
}

.profileContainer button {
  padding: 8px 16px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px;
}

.profileContainer button:hover {
  background-color: #864d5c;
}

/* Registration */

.registrationPage {
  position: relative;
  top: 200px;
  max-width: 300px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.registrationPage label {
  font-size: 15px; 
  font-weight: 450; 
  position: relative;
  bottom: 3px;  
  margin-bottom: 10px;         
}

.registrationPage button {
  font-size: 13px; 
  padding: 10px 15px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px 
}

.registrationPage button:hover {
  background-color: #ddd;
  color: black;
}

.registrationPage button.active {
  background-color: #864d5c;
  color: white;
}

.registrationPage a {
  font-size: 13px; 
  font-weight: 400;
  color: #525252;
}

.registrationPage input {
  width: 100%;
  padding: 5px 0px;
  border-radius: 5px;
  background: #f0f0f0;
  border: 0;
  margin-bottom: 10px;
}

/* Login */

.loginContainer {
  position: relative;
  top: 200px;
  max-width: 320px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.loginContainer label {
  font-size: 15px; 
  font-weight: 450;
  position: relative;
  bottom: 3px;   
  margin-bottom: 10px;         
}

.loginContainer input {
  width: 100%;
  padding: 5px 0px;
  border-radius: 5px;
  background: #f0f0f0;
  border: 0;
  margin-bottom: 20px;
}

.loginContainer button {
  font-size: 13px; 
  padding: 10px 15px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px; 
}

.loginContainer button:hover {
  background-color: #ddd;
  color: black;
}

.loginContainer button.active {
  background-color: #864d5c;
  color: white;
}

#forgotPasswordButton {
  margin-bottom: 10px; /* Adds spacing below the button */
}

#forgotPwdContainer label {
  margin-right: 5px; /* Adds spacing to the right of the label */
}

/* Index */

.index h1 {
  text-align: center;
  font-family: Arial, sans-serif;
}

.index button {
  font-size: 25px; 
  font-family: Arial, sans-serif;
  padding: 35px 55px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  display: block;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  margin-top: 25%;

  
}

.index button:hover {
  background-color: #ddd;
  color: black;
}

.index button.active {
  background-color: #864d5c;
  color: white;
}

#indexRegistration {
  display: inline-block;
  position: absolute;
  left: 25%;
  top: 30%;
  max-width: 300px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  text-align: center;
}

#indexLogin {
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 25%;
  max-width: 300px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  
}

/* Change Password */

.changePassword {
  position: relative;
  top: 200px;
  max-width: 280px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.changePassword label {
  font-size: 15px; 
  font-weight: 450; 
  position: relative;
  bottom: 3px; 
  margin-bottom: 10px;         
}

.changePassword input {
  width: 100%;
  padding: 5px 0px;
  border-radius: 5px;
  background: #f0f0f0;
  border: 0;
  margin-bottom: 20px;
}

.changePassword button {
  font-size: 13px; 
  padding: 10px 15px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px; 
}

.changePassword button:hover {
  background-color: #ddd;
  color: black;
}

.changePassword button.active {
  background-color: #864d5c;
  color: white;
}

/* Equipment */

.equipmentContainer {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  max-width: 100%;
  width: 65%;
  margin-bottom: 20px;
  margin: auto;
}

.equipmentContainer h1 {
  text-align: center;
  margin-bottom: 20px;
  }

.equipmentContainer h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  }

.equipmentContainer h3 {
  margin-top: 10px;
  }

.equipment-container {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #e2dad9;
  max-width: 100%;
  width: 80%;
  margin-bottom: 20px;
  margin-right: 3px;
}

.equipment-name {
  margin: 0;
  font-size: 18px;
}

.equipment-info {
  margin: 0;
  font-size: 16px;
}

.equipment-status {
  font-weight: bold;
  color: red;
}

.equipment-comment {
  margin-top: 5px;
}

/* Report */

.reportingContainer {
  position: relative;
  top: 100px;
  max-width: 100%;
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.reportingContainer label {
  font-size: 17px; 
  font-weight: 450;
  position: relative;
  bottom: 3px;   
  margin-bottom: 10px;         
}

.reportingContainer textarea {
  padding: 5px 0px;
  font-size: 16px;
  border-radius: 5px;
  background: #f0f0f0;
  border: 0;
  margin-bottom: 10px;
}

.reportingContainer button {
  font-size: 13px; 
  padding: 10px 15px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px; 
}

.reportingContainer input[type=submit] {
  font-size: 13px; 
  padding: 10px 15px;
  border: none;
  background-color: #782646;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px; 
}

.reportingContainer input[type=file] {
  font-size: 13px; 
  padding: 5px;
  border: none;
}

/* View Report */

.reportContainer {
  position: relative;
  top: 50px;
  max-width: 100%;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}



/* View Responses */

.responseContainer {
  position: relative;
  top: 50px;
  max-width: 100%;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


/* Booking */


