<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/booking_times.js') }}"></script>
    <style>
        .available {
            background-color: green;
            color: white;
        }
        
        .booked {
            background-color: red;
            color: white;
            opacity: 0.5;
        }
        
        .booked:hover {
            cursor: not-allowed;
        }
    </style>
</head>
<body>
    <div id="timeContainer"></div>
    
</body>
</html>