<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="..\..\static\css\style.css">
    <link rel="icon" type="'image/x-icon" href="..\..\static\css\logo.ico">
    <script src="{{ url_for('static', filename='js/booking/booking.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <style>


        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        
        .heading {
            text-align: center;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div class="navbar">
        <h1><span><img src="..\..\static\css\logo_navbar.png"></span>Welcome! <span id="email"></span></h1>
        <a href="" id="homeButton">Home</a>
        <a href="" id="profileButton">Profile</a>
        <a class="active" href="" id="bookingButton">Booking</a>
        <a href="" id="editBookingButton">View and Edit Bookings</a>
        <a href="" id="reports">Manage Reports Here</a>
        <a href="" id="equipment">View Equipment Status</a>
        <a href="" id="logoutButton">Logout</a>
    </div> <br>

    <h1 style="text-align: center;margin-bottom: 20px;">Click any date to begin!</h1>
    <div id="buttonContainer" class="buttonContainerClass"></div>
    
</body>
</html>