<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/booking/viewbookings.js') }}"></script>
</head>
<body>
    <h1>Manage your bookings here!</h1>
    <button id="backButton"">Back</button>
    <button id="logout">Logout</button>
    <h2 id="bookingDirector"></h2>
    <div id="buttonContainer"></div>

</body>
</html>