<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/changePwd.js') }}"></script>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="icon" type="'image/x-icon" href="..\static\css\logo.ico">
</head>
<body>
    <img class="passLogo" src="..\static\css\logo_no_bg.png">
    <div class="changePassword">
        <h1 style="text-align: center;">Change your password here!</h1>   
        <div class="recovery">
            <form id="eminemRecovery">
                <label for="otp">OTP:</label><br>
                <input type="text" id="otp" name="otp"><br>
                <label for="newPwd">New Password:</label><br>
                <input type="password" id="newPwd" name="newPwd"><br>
                <label for="newPwdCfm">Confirm Password:</label><br>
                <input type="password" id="newPwdCfm" name="newPwdCfm"><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    
</body>
</html>