<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <style>
      /* Existing CSS styles */

      /* Footer styles */
      footer {
          background-color: #333;
          color: #fff;
          text-align: center;
          padding: 20px;
          font-size: 14px;
          margin-top: 50px;
      }
  </style>
  </head>
  <body>
    <h1>Welcome to FitBook Version 0.6.0 Alpha</h1>
    <h1 id="LoginTitle">Login Here</h1>
    <button type="button" id="loginButton">Click Me!</button>
    <h1 id="RegisterTitle">Register Here</h1>
    <button type="button" id="registerButton">Click Me!</button>
    <footer>
      Created by Team Rolex &copy; 2023
  </footer>
  </body>
</html>
