<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitBook</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="icon" type="'image/x-icon" href="..\static\css\logo.ico">
    <script src="{{ url_for('static', filename='js/auth/index.js') }}"></script>
  </head>

  <body>
  <img class="indexLogo" src="..\static\css\logo_no_bg.png">
  <div class="index">
    <span id="indexRegistration">
      <h1 id="RegisterTitle">Are you a new user?</h1>
      <button type="button" id="registerButton">Register</button>
    </span>
    
    <span id="indexLogin">
      <h1 id="LoginTitle">Are you an existing user?</h1>
      <button type="button" id="loginButton">Login</button>
    </span>
  </div>
  <br>
    <footer class="footer">
      Created by Team Rolex &copy; 2023
  </footer>
  </body>
</html>
