<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="icon" type="'image/x-icon" href="..\static\css\logo.ico">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="navbar">
        <h1><span><img src="..\static\css\logo_navbar.png"></span>Welcome! <span id="email"></span></h1>
        <a class="active" href="" id="homeButton">Home</a>
        <a href="" id="profileButton">Profile</a>
        <a href="" id="bookingButton">Booking</a>
        <a href="" id="editBookingButton">View and Edit Bookings</a>
        <a href="" id="reports">Manage Reports Here</a>
        <a href="" id="equipment">View Equipment Status</a>
        <a href="" id="logoutButton">Logout</a>
    </div>
    
    <div class="mainContainer">
        <br>
        <iframe width="" height="" src="https://www.youtube.com/embed/YNLMnz_ZjLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h2 id="profileDirector"></h2>
        <div class="telegram-text">
            <img class="telegram-logo" src="../static/css/telegram_logo.png" alt="Telegram Logo">
            <h2>FitBook is available on Telegram. Use @rolex_fitbookbot now!</h2>
        </div>
    </div>
</body>
</html>
