<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="navbar">
        <h1>Welcome! <span id="email"></span></h1>
        <a class="active" href="" id="homeButton">Home</a>
        <a href="" id="profileButton">Profile</a>
        <a href="" id="bookingButton">Booking</a>
        <a href="" id="editBookingButton">View and Edit Bookings</a>
        <a href="" id="reports">Manage Reports Here</a>
        <a href="" id="equipment">View Equipment Status</a>
        <a href="" id="logoutButton">Logout</a>
    </div>
    <div class="container">
        <h1>Welcome to FitBook</h1>
        <h2 id="profileDirector"></h2>
    </div>
</body>
</html>
