<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <style>


    </style>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="navbar">
        <h1>Welcome! <span id="email"></span></h1>
        <button id="profileButton">Profile</button>
        <button id="bookingButton">Booking</button>
        <button id="editBookingButton">View and Edit Bookings</button>
        <button id="reports">Manage Reports Here</button>
        <button id="equipment">View Equipment Status</button>
        <button id="logoutButton">Logout</button>
    </div>
    <div class="container">
        <h1>Welcome to FitBook</h1>
        <h2 id="profileDirector"></h2>
    </div>
</body>
</html>
