<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="icon" type="'image/x-icon" href="..\static\css\logo.ico">
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</head>
<body> 
    <div class="navbar1">
        <h1><span><img src="..\static\css\logo_navbar.png"></span>Welcome! <span id="email"></span></h1>
        <div class="navbar" id="myNavbar">
        <a href="" id="homeButton"><i class="fa fa-fw fa-home"></i></a>
        <a class="active" href="" id="profileButton">Profile</a>
        <a href="" id="bookingButton">Booking</a>
        <a href="" id="editBookingButton">View and Edit Bookings</a>
        <a href="" id="reports">Manage Reports Here</a>
        <a href="" id="equipment">View Equipment Status</a>
        <a href="" id="logoutButton">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="displayNav()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      </div>
    
    <div class="profileContainer">
        <h1>User Profile</h1>
        <p>Please set your details here before booking!</p>
        <table>
            <tr>
                <th>Email:</th>
                <td id="email1"></td>
            </tr>
            <tr>
                <th>Name:</th>
                <td id="name"></td>
                <td><button id="nameButton">Change</button></td>
            </tr>
            <tr>
                <th>Room:</th>
                <td id="room"></td>
                <td><button id="roomButton">Change</button></td>
            </tr>
            <tr>
                <th>Spotter Name:</th>
                <td id="spotterName"></td>
                <td><button id="spotterNameButton">Change</button></td>
            </tr>
            <tr>
                <th>Spotter Room:</th>
                <td id="spotterRoom"></td>
                <td><button id="spotterRoomButton">Change</button></td>
            </tr>
            <tr>
                <td><button id="goBack">Back</button>
                <button id="changePwd">Change Password</button></td>
            </tr>
            <tr>

            </tr>
        </table>
    </div>

        <script>
      function displayNav() {
      var x = document.getElementById("myNavbar");
      if (x.className === "navbar") {
        x.className += " responsive";
      } else {
        x.className = "navbar";
      }
     }
    </script>

</body>
</html>
