<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitBook Register</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="icon" type="'image/x-icon" href="..\static\css\logo.ico">
    <script src="{{ url_for('static', filename='js/auth/register.js') }}"></script>
</head>
<body>
    <img class="registerLogo" src="..\static\css\logo_no_bg.png">
    <div class="registrationPage">
    <h1>Welcome new user!</h1>

    <form id="registerForm">
        <label for "email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <button id="verifyButton">Verify Email</button><br><br>
        <label for "OTP">OTP</label><br>
        <input type="OTP" id="OTP" name="OTP"><br><br>
        <label for "password">Password</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for "confirmPassword">Confirm Password</label><br>
        <input type="password" id="confirmPass" name="confirmPass"><br>
        <button type=submit>Submit</button>   
    </form>
    <br>
    <a href="/login">Existing user? Login here</a>
    </div>
</body>

</html>