<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/report.js') }}"></script>
</head>
<body>
    <h1>Report Any Feedback Here!</h1>
    <form id="feedbackForm">
        <label for="feedback">Feedback: </label>
        <input type="text" id="feedback" name="feedback" required>
        <br><br>
        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo" accept="image/*">
        <br><br>
        <input type="submit">
    </form>

    
</body>
</html>