<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Equipment</title>
    <link rel="stylesheet" href="..\..\static\css\style.css">
    <link rel="icon" type="'image/x-icon" href="..\..\static\css\logo.ico">
    <script src="{{ url_for('static', filename='js/equipment/equipment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</head>
<body>
    <div class="navbar">
        <h1><span><img src="..\..\static\css\logo_navbar.png"></span>Welcome! <span id="email"></span></h1>
        <a href="" id="homeButton">Home</a>
        <a href="" id="profileButton">Profile</a>
        <a href="" id="bookingButton">Booking</a>
        <a href="" id="editBookingButton">View and Edit Bookings</a>
        <a href="" id="reports">Manage Reports Here</a>
        <a class="active" href="" id="equipment">View Equipment Status</a>
        <a href="" id="logoutButton">Logout</a>
    </div>

    <h1 style="text-align: center;margin-bottom: 20px;">View Equipment Status Here!</h1>
    <div class="equipmentContainer">
        <div id="equipment1" class="equipment-container"></div>
        <div id="feedbackForm1" class="feedback-form">
            <h2>Provide Feedback</h2>
            <form id="feedbackForm">
                <label for="equipmentDropdown">Select Equipment:</label>
                <select id="equipmentDropdown">
                    <option value="">Select Equipment</option>
                    
                </select>
                <label for="feedbackText">Feedback:</label>
                <textarea id="feedbackText" rows="4" cols="50" placeholder="Enter your feedback"></textarea>
                <button id="submitFeedbackButton" type="button">Submit Feedback</button>
            </form>
        </div>
    </div>
</body>
</html>
