<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\..\static\css\style.css">
    <script src="{{ url_for('static', filename='js/equipment.js') }}"></script>
    <style>

        h1 {
        text-align: center;
        margin-bottom: 20px;
        }

        h2 {
        margin-top: 40px;
        margin-bottom: 10px;
        }

        h3 {
        margin-top: 10px;
        }

    </style>
</head>
<body>
    <div class="navbar">
        <h1 style="text-align: left;">Welcome!</h1>
        <a href="" id="homeButton">Home</a>
        <a href="" id="profileButton">Profile</a>
        <a href="" id="bookingButton">Booking</a>
        <a href="" id="editBookingButton">View and Edit Bookings</a>
        <a href="" id="reports">Manage Reports Here</a>
        <a class="active" href="" id="equipment">View Equipment Status</a>
        <a href="" id="logoutButton">Logout</a>
    </div>

    <h1>View Equipment Status Here!</h1>
    <div class="equipmentContainer">
        <div id="equipment1" class="equipment-container"></div>
    </div>
</body>
</html>
